.wd-fg-color-white {
    color: white;
}

.wd-bg-color-dark-grey {
    background-color: darkgray;
}

.wd-bg-color-black {
    background-color: black;
}

.wd-rounded-corners {
    border-radius: 15px;
}

.wd-rounded-corners-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.wd-margin-left {
    margin-left: 16px;
}

.wd-border-color { /* rgb(47, 51, 54) */
    border-color: #2f3336;
    border-style: solid;
}
